.moleContainer {
  margin: 2rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  cursor: url("../../assets/WAM_Hammer.png"), pointer;
  align-items: baseline;
}
