.moleContainer {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 40px;
  cursor: url("../../assets/WAM_Hammer.png"), pointer;
  align-items: center;
}
