.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;

  .login-logo {
    display: flex;
    align-items: center;

    img {
      transform: rotate(10deg);
    }

    .login-logo-text {
      font-size: 4rem;
      z-index: 99;
      transform: translateX(70px);
    }
  }

  button {
    margin-top: 2rem;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 55px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
    background-color: rgba($color: #0dc458, $alpha: 0.6);
    border: 2px solid black;
    cursor: pointer;

    &:hover {
      transform: translateY(-2px);

      background-color: rgba($color: #0dc458, $alpha: 1);
    }
  }
  p {
    font-family: "Roboto";
    font-size: 0.85rem;
    margin-top: 1rem;
    font-weight: 400;
  }
}
